@model PagedSubjectViewModel

@{
	ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-4">
		<h1>Subject List</h1>
	</div>
	<div class="col-8 mt-3">
		<form asp-action="Index">
			<input type="text" name="searchText" value="@ViewData["CurrentFilterData"]" />
			<input type="submit" value="search" />
		</form>
	</div>
</div>
<div class="row">
	<p>
		<a asp-action="Create" class="btn btn-info">Create New Subject</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					<a asp-route-sortOrder="@ViewData["IdSortParam"]">Id</a>
				</th>
				<th>
					<a asp-route-sortOrder="@ViewData["NameSortParam"]">Name</a>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.SubjectViewModelList)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						<partial name="_actionlinks" model="@item.Id" />
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@{
	var previous = Model.PageInfo.HasPreviousPage ? "" : "disabled";
	var next = Model.PageInfo.HasNextPage ? "" : "disabled";
}
<a asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilterData"]" class="btn btn-info @previous" asp-action="Index" asp-controller="Subjects" asp-route-pageNumber="@(Model.PageInfo.PageNumber - 1)">
	Previous
</a>
<a asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilterData"]" class="btn btn-info @next" asp-action="Index" asp-controller="Subjects" asp-route-pageNumber="@(Model.PageInfo.PageNumber + 1)">
	Next
</a>